.promo
  position: relative
  margin-bottom: 42px

  &__swiper
    height: 637px

  &__item
    background: url("/img/promo.png")no-repeat center center
    background-size: auto 100%
    height: 100%
    display: flex
    align-items: center

  &__text
    font-weight: bold
    font-size: 33px
    line-height: 110%
    color: $white
    span
      display: block
      font-weight: 800
      font-size: 55px
      line-height: 110%

  &__pagination
    position: absolute
    left: 155px !important
    bottom: 84px !important
    z-index: 1

@include for-size(tablet)
  .promo
    &__swiper
      height: 500px
    &__pagination
      left: 30px !important
    &__text
      font-size: 26px
      span
        font-size: 48px

@include for-size(mobile)
  .promo
    &__swiper
      height: 450px
    &__item
      background-position: -400px center
    &__pagination
      bottom: 40px !important
    &__text
      font-size: 16px
      text-align: center
      span
        font-size: 38px
