.section-title
  font-weight: bold
  font-size: 25px
  line-height: 100%
  color: $black
  span
    font-weight: 500
    font-size: 14px
    line-height: 17px
    color: $softgrey
    margin-left: 25px
  .path
    display: block
    margin-left: 0
    margin-bottom: 24px