.btn
  border: 0
  padding: 0
  background: none
  cursor: pointer
  transition: all .3s
  position: relative
  display: inline-flex
  align-items: center
  font-size: 14px
  line-height: 17px
  font-weight: 500

  &--center
    justify-content: center

  &-grey
    color: $softgrey
    &--bg
      background: #525457
      color: $white
    &--light
      background: $lightgrey2
      color: $black

  &-black
    background: $black
    color: $white

  &-medium
    padding: 16px 0
    width: 100%
    border-radius: 3px

  &-small
    font-weight: 500
    font-size: 12px
    line-height: 15px

  &-dashed
    border-bottom: 1px dashed $softgrey

.swiper-pagination-bullet
  background: none !important
  border: 1px solid $white
  margin-right: 27px !important