.btn
  border: 0
  padding: 0
  background: none
  cursor: pointer
  transition: all .3s
  position: relative
  display: inline-flex
  align-items: center

  &--center
    justify-content: center
