// Options
$enable-rem: false

// Colors
$black: #000

$white: #fff

// Spacing
$spacer: 16px
// Body
$body-bg: $white
$body-color: $black

// Links
$link-color: $white

// Grid
$grid-gutter: 60px
$grid-columns: 12

// Fonts
$font-family: $RT
$font-size: 1em
$font-weight: 400
$line-height: 1.5


// Layout
$col-grid: 12
$site-padding: 15px
$min-width: 320px
$max-width: 1024 + $site-padding * 2


// Transitions
$transition: 0.3s curve(default)
